body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(79, 79, 79)
}
.middle {
    text-align: center;
    margin-top: auto;
}
.center {
    text-align: center;
}
a:link, a:visited {
    position: sticky;
    padding: 14px;
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius:10px;
}
a:hover, a:active {
    position: sticky;
}
.header{
    padding: 15px;
    text-align: center;
}
.backtrack {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color:rgba(255, 0, 0, 0);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}