body {
    margin:0;
    font-family:sans-serif;
    background-color:rgba(51, 255, 0, 0.5);
}
.center {
    text-align:center;
}
a:link, a:visited {
    position:sticky;
    background-color:rgb(110,100,255);
    padding: 16px 25px;
    color:white;
    text-decoration:none;
    text-align:center;
}
a:hover, a:active {
    position:sticky;
    background-color:rgb(90,80,235);
}
h6.backtrack {
    position:fixed;
    bottom:0;
    left:0
    
}
  .header {
      padding: 20px;
      text-align: center;
  }